---
import Footer from "../components/Footer.astro";
import Habilidades from "../components/Habilidades.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Proyectos from "../components/Proyectos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Israel Castro - Desarrollador Web">
  <Header altText="Logo Israel Castro" />
  <main class="mx-5 sm:mx-20 lg:mx-40">
    <Hero />
    <Proyectos />
    <Habilidades />
  </main>
  <Footer />
</Layout>
