---
import ListHabilidades from "./ListHabilidades.astro";
---

<section class="py-24">
  <h2 class="text-4xl font-semibold text-green-500 mb-5 tracking-wider">
    Habilidades
  </h2>
  <ListHabilidades />
</section>
